# Ignore IDE/build stuff *inside* both modules
/S-Emulator/.idea/
/S-Emulator/*.iml
/S-Emulator/**/out/
/S-Emulator/**/build/
/S-Emulator/**/target/
/S-Emulator/**/*.log
/S-Emulator/**/*.class

/S-Emulator-Server/.idea/
/S-Emulator-Server/*.iml
/S-Emulator-Server/**/out/
/S-Emulator-Server/**/build/
/S-Emulator-Server/**/target/
/S-Emulator-Server/**/*.log
/S-Emulator-Server/**/*.class

# Don’t commit big SDKs or archives
/S-Emulator/src/utils/javafx-sdk-*/
**/*.{jar,war,ear,zip,tar,tar.gz,rar}

# OS junk
.DS_Store
Thumbs.db
desktop.ini
